<% layout('layouts/boilerplate') %>
<%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

<!-- remember our folder name was layouts , layout is a method to inclue the boiler plate -->

    <div class="row container-fluid" id="mainPage" >
    <% for(let item of products){ %>
        <div class="col-lg-3 mt-3">
            <div class="shadow-sm card mx-auto position-relative shadow-lg" style="width: 20rem;">
                <img src="<%= item.img %>" class="card-img-top" alt="..." height="300px">
                <span class="badge rounded-pill bg-light text-dark w-25 position-absolute translate-middle-y" style="top:52%;left:5%" ><%=item.avgRating %> | <%=item.reviews.length%></span>
                <div class="card-body">
                  <span class=" fw-bold fs-4 card-title"><%= item.name%></span>
                  <span class="btn like-btn pb-3 pr-1" productid="<%=item._id %>">
                    <!-- this product id here is the user defined attribute -->
                     <% if(currentUser && currentUser.wishList.includes(item._id)){ %>
                      <!-- to make this wishlist ,it will contain an array that includes id of all the products liked by that user , so it will be stored in userschema now to make this we will make our own api because we dont wnat our page to get refrehsed so we need to make our own api -->
                       <!-- diff between api and route is that api returns the data to be manipulated and routes returns the entire response that is the complete ejs fileeeee but api only returns a part of that ejs file that needs to be manipulated therefore here we will make our own api and not route so make your own api folder in routes under that make product.js -->
                      <i class="fas fa-heart"></i>
                    <% }else{ %>
                      <i class="far fa-heart "></i>
                    <%} %>
                  </span>
                  <h5 class="card-title"><%= item.price %></h5>
                  <p class="card-text"><%= item.description%></p>
                  <% if(item.reviews.length){ %>
                    <p class="text-muted"><%=item.reviews.length %> reviews</p>
                 <% } else{%>
                    <p class="tex-muted">NO reviews</p>
                 <%} %>
                  <a href="/products/<%=item._id%>" class="btn btn-info">View Product</a>
                  <!-- take care of item._id -->
                  <% if(currentUser && currentUser.role === "seller"){ %>
                   <form class="d-inline-block" action="/products/<%=item._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger ">Delete</button>
                   </form>
                   <%} %>
                </div>
              </div>
        </div>
    <% } %>
    <div id="second" class="bg-dark text-white mt-3 pt-5 pb-3">
      <div class="container">
        <div class="row">
          <!-- Column 1: About Us -->
          <div class="col-lg-3 col-md-6 mb-4">
            <h4 class="footer-title">About Us</h4>
            <p>We are an online store offering high-quality products for all your needs. Our mission is to provide the best shopping experience with reliable products and timely delivery.</p>
          </div>
    
          <!-- Column 2: Useful Links -->
          <div class="col-lg-3 col-md-6 mb-4">
            <h4 class="footer-title">Useful Links</h4>
            <ul class="list-unstyled">
              <li><a href="/about-us" class="footer-link">About Us</a></li>
              <li><a href="/contact-us" class="footer-link">Contact Us</a></li>
              <li><a href="/product" class="footer-link">Shop</a></li>
              <li><a href="/terms" class="footer-link">Terms & Conditions</a></li>
              <li><a href="/privacy" class="footer-link">Privacy Policy</a></li>
            </ul>
          </div>
    
          <!-- Column 3: Follow Us -->
          <div class="col-lg-3 col-md-6 mb-4">
            <h4 class="footer-title">Follow Us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/profile.php?id=100080453752305" class="social-icon text-white mr-3"><i class="fab fa-facebook-f"></i></a>
              <br>
              <a href="https://www.youtube.com/@aayushdalal3771" class="social-icon text-white mr-3"><i class="fab fa-youtube"></i></a>
              <br>
              <a href="https://www.instagram.com/aayushdalal9?utm_source=qr&igsh=MXU2d3hidXp4M29reg==" class="social-icon text-white mr-3"><i class="fab fa-instagram"></i></a>
              <br>
              <a href="https://www.linkedin.com/in/aayush-dalal-a51668190/" class="social-icon text-white"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
    
          <!-- Column 4: Newsletter Signup -->
          <div class="col-lg-3 col-md-6 mb-4">
            <h4 class="footer-title">Newsletter</h4>
            <p>Subscribe to our newsletter for the latest updates and offers.</p>
            <form action="/subscribe" method="POST" class="newsletter-form">
              <input type="email" class="form-control mb-2" placeholder="Enter your email" required>
              <button type="submit" class="btn btn-primary btn-sm">Subscribe</button>
            </form>
          </div>
        </div>
    
        <!-- Footer Bottom -->
        <div class="row mt-5">
          <div class="col-12 text-center">
            <p>&copy; <span id="year"></span> Shippers. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>
   <script src='/js/common.js'></script>
</body>
</html>